@{
    ViewBag.Title = "Attributes Menu";
}

<h2>Data Annotations Examples</h2>

<ul>
    <li>@Html.ActionLink("required attribute","Required")</li>
    <li>@Html.ActionLink("string length attribute", "StringLength")</li>
    <li>@Html.ActionLink("regular expression attribute", "Regex")</li>
    <li>@Html.ActionLink("range attribute", "Range")</li>
    <li>@Html.ActionLink("remote attribute", "Remote")</li>
    <li>@Html.ActionLink("custom validation attribute", "Custom")</li>
</ul>