@{
    ViewBag.Title = "Index";
}

<h2>List of MVC 3 Examples</h2>

<ul>
    <li>@Html.RouteLink("Helpers","HelpersRoute")</li>
    <li>@Html.RouteLink("Server Attributes","AttributesRoute")</li>
    <li>@Html.RouteLink("Security","SecurityRoute")</li>
    <li>@Html.RouteLink("Ajax","AjaxRoute")</li>
    <li>@Html.RouteLink("Routing", "RoutingRoute")</li>
    <li>@Html.RouteLink("Mvc Areas", "MvcAreasRoute")</li>
    <li>@Html.RouteLink("Model binding","ModelsRoute")</li>
    <li>@Html.RouteLink("Action Filters","ActionFiltersRoute")</li>
    <li>@Html.RouteLink("Action Results", "ActionResultsRoute")</li>
    <li>@Html.RouteLink("Templates","TemplatesRoute")</li>
</ul>
